:root {
    --white-color: #fff;
    --black-color: #000;
    --header-height:60px;
    --border-color: #ccc;
    --text-color: #333333;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}


/* Responsive */
.grid { 
    width: 1320px;
    max-width: 100%;
    margin: 0 auto; 
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap; 
}  

.grid__column-4 {
    width: 25%; 
}


/* @keyframes opacityImg {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.8;
    }
} */